body {
    background: #000000;
    color: white;
    font-family: arial;
  }
  body header {
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  @media screen and (min-width: 37.4375em) {
    body header {
      width: 600px;
    }
  }
  body header .timer {
    position: absolute;
    top: 14%;
    left: 3%;
    font-size: 23px;
    background: #FFAD29;
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    border-radius: 4vh;
    text-align: center;
  }
  
  .game {
    height: 90vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  @media screen and (min-width: 37.4375em) {
    .game {
      width: 600px;
    }
  }
  
  .flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    height: 22%;
    margin: 1%;
    cursor: pointer;
  }
  
  .flip-container.flip .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .flip-container, .front, .back {
    width: 23%;
    float: left;
    border-radius: 12px;
  }
  
  .flipper {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    position: relative;
  }
  .flipper .front, .flipper .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-backface-visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: #FFCCA9 0 8px 2px;
  }
  .flipper .front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: #db0030;
  }
  .flipper .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border: 1px solid #E8E8E8;
  }

  #piggy-bank {
    background: white url("img/piggy-bank.png") no-repeat center;
    background-size: contain;
  }
  
  #shoe {
    background: white url("img/shoe.png") no-repeat center;
    background-size: contain;
  }
  
  #plane {
    background: white url("img/plane.png") no-repeat center;
    background-size: contain;
  }
  
  #suitcase {
    background: white url("img/suitcase.png") no-repeat center;
    background-size: contain;
  }
  
  #robot {
    background: white url("img/robot.png") no-repeat center;
    background-size: contain;
  }
  
  #ring {
    background: white url("img/ring.png") no-repeat center;
    background-size: contain;
  }
  
  #palm-tree {
    background: white url("img/palm-tree.png") no-repeat center;
    background-size: contain;
  }
  
  #mp3 {
    background: white url("img/mp3.png") no-repeat center;
    background-size: contain;
  }